 // css for body, header, footer, to top
 /*-- Reset-Code --*/
body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body a:focus,
a:hover {
  text-decoration: none;
}
 //header
 .navbar {
   margin-bottom: 0;
   border-radius: 0;
 }
 input[type="button"],
 input[type="submit"] {
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
 }

 p {
   margin: 0;
   line-height: 1.9;
   font-family: 'Nunito', sans-serif;
   font-size: 14px;
 }

 ul {
   margin: 0;
   padding: 0;
 }

 label {
   margin: 0;
 }

 a:focus,
 a:hover {
   text-decoration: none;
   outline: none;
 }

 footer {
   background-color: #337ab7;
   padding: 30px 0px;
 }

 footer a {
   color: #FFF;
 }

 .content-footer {
   margin-left: 100px;
 }

 //css for script to top
 #toTop {
   display: none;
   text-decoration: none;
   position: fixed;
   bottom: 20px;
   right: 2%;
   overflow: hidden;
   z-index: 999;
   width: 32px;
   height: 32px;
   border: none;
   text-indent: 100%;
   background: url("../assets/images/arrow.PNG") no-repeat 0px 0px;
 }

 #toTopHover {
   width: 32px;
   height: 32px;
   display: block;
   overflow: hidden;
   float: right;
   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);
 }