<!--The content below is only a placeholder and can be replaced.-->
<!--header-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav">
                <img src="assets/images/logo2.png" alt="logo" height="40px;">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">TOPIC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ĐIỂM DU LỊCH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SỰ TRẢI NGHIỆM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SỰ KIỆN</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="login.html">
                <button id="btn-login" class="btn btn-default my-2 my-sm-0" type="submit">Đăng nhập</button>
            </form>
            <form class="navbar-form navbar-right">
                <input class="form-control mr-sm-2" type="text" placeholder="Tìm Kiếm">
                <button class="btn btn-default my-2 my-sm-0" type="submit">Tìm Kiếm</button>
            </form>

        </div>
    </div>
</nav>
<!--// header-->
<router-outlet></router-outlet>
        <!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-4">
                <img style="float: left" src="assets/images/logo2.png" width="250px" height="80px" alt="logo">
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-3 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">About</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Contact</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

        </div>
    </div>
</footer>
<!--/.Footer-->